<?xml version="1.0" ?>
<config>
    <tabs>
        <google_tab translate="label" module="google">
            <label>Google</label>
            <sort_order>5555</sort_order>
        </google_tab>
    </tabs>

    <sections>
        <google translate="label" module="google">
            <tab>google_tab</tab>
            <label>Google Settings</label>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <google_settings translate="label" module="google">
                    <label> Google Settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <google_module_enable translate="label" module="google">
                            <label>Enable module</label>
                            <frontend_type>select</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>google/options</source_model>
                        </google_module_enable>

                        <google_user_id translate="label" module="google">
                            <label>Google User</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </google_user_id>

                        <google_user_description translate="label" module="google">
                            <label>About Google</label>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </google_user_description>
                    </fields>
                </google_settings>
            </groups>
        </google>
    </sections>
</config>